{% extends "base.html" %}

{% block title %}
My Order
{% endblock %}

{% block body %}
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}

<h1>My Cart</h1>

<table id="cart-table" class="table">
</table>
<br>
<button class="btn right" id="submitOrder">Submit Order</button>

<h1>My Orders</h1>

<table id="orders-table" class="table">
{% for order in orders %}
<tr>
  <td>{{ order.id }}</td>
  <td>{{ order.order_date }}</td>
  <td>{% if order.completed_date %}Completed{% else %}In progress{% endif %}</td>
  <td>${{ order.total_price }}</td>
</tr>
{% endfor %}
</table>


{% endblock %}

{% block footer %}

<!-- Modal Structure -->
<div id="orderCompleteModal" class="modal" style="max-width: 35em;">
    <div class="modal-content">
        <h4>Complete your order?</h4>
        <p>Price of your order: $<span id="totalCostModal">X</span<p>
    </div>
    <div class="modal-footer">
        <a href="#!" id="modalCancel" data-productid="" class="modal-close waves-effect red btn">Cancel</a>
        <a href="#!" id="modalConfirm" data-productid="" class="modal-close waves-effect waves-green btn">Confirm</a>
    </div>
</div>

<script>
  var modals = {};
  document.addEventListener('DOMContentLoaded', (event) => {

      reloadCart();

      var modalElements = document.querySelectorAll('.modal');
      for ( modalElement of modalElements ) {
        modals[modalElement.id] = M.Modal.init(modalElement);
      }

      var modalConfirmButton = document.getElementById('modalConfirm');
      modalConfirmButton.onclick = function () {
        submitOrder();
        setTimeout(function(){
            reloadCart();
        }, 200);
        window.location.reload();
        modals['orderCompleteModal'].close();
      }
      var submitOrderButton = document.getElementById('submitOrder');
      submitOrderButton.onclick = function () {
        document.getElementById('totalCostModal').innerHTML = document.getElementById('totalCost').innerHTML;
        modals['orderCompleteModal'].open();
      }
      var modalCancelButton = document.getElementById('modalCancel');
      modalCancelButton.onclick = function () {
        modals['orderCompleteModal'].close();
      }

  });
</script>

{% endblock %}
