{% extends "base.html" %}
{% load static %}

{% block title %}
Menu
{% endblock %}

{% block head %}
{% comment %} <script type="text/javascript" src="{% static "js/eshop.js" %}"></script> {% endcomment %}
{% endblock %}

{% block body %}
<h1>Our Menu</h1>
<hr>
<h3>Regular Pizza</h3>
    <ul>
        {% for item in menu %}
            <li>
                {{item}} <button class="to-cart material-icons" style="display:contents; cursor: pointer; width: 1em;" data-productId="{{item.id}}">add_box</button>
            </li>
        {% endfor %}
    </ul>

<hr>
<h1>Cart</h1>
<ul id="cart">
</ul>

<table id="cart-table" class="table">
</table>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        console.log('DOM fully loaded and parsed');
        reloadCart();

        let addToCartButtons = document.getElementsByClassName('to-cart');
        for ( let button of addToCartButtons ) { 
            button.onclick = function() {

                id = button.dataset['productid']
                addToCart(id);

            };
        }
    });

function reloadCart() {

    const request = new XMLHttpRequest();
    request.open('GET', `/api/v1/cart-text/`);
    request.setRequestHeader('Accept', 'application/json');
    request.setRequestHeader('Content-Type', 'application/json');
    request.onload = () => {
        if ( request.status == 200 ) {
            const response = JSON.parse(request.responseText);

            var cartTable = document.getElementById("cart-table");
            cartTable.innerHTML = "";
            var total_price = 0.0;
            for ( let item of response) {
                total_price = total_price + parseFloat(item.item_price);
                var tr = document.createElement("tr");
                tr.setAttribute("id", item.id);


                var td1 = document.createElement("td");
                td1.appendChild( document.createTextNode(`${item.item_category} - ${item.item_name}`));
                tr.appendChild(td1);

                var td2 = document.createElement("td");
                td2.appendChild( document.createTextNode(`${item.toppings}`));
                tr.appendChild(td2);

                var td3 = document.createElement("td");
                td3.appendChild( document.createTextNode(`$ ${item.item_price}`));
                tr.appendChild(td3);

                var td4 = document.createElement("td");
                var removeButton = document.createElement("span");
                removeButton.setAttribute("value", item.id);
                removeButton.setAttribute("class", "cart-remove material-icons");
                removeButton.appendChild( document.createTextNode("remove_circle"));
                removeButton.onclick = function () {
                    removeFromCart(item.id)
                }
                td4.appendChild( removeButton);
                tr.appendChild(td4);

                cartTable.appendChild(tr);
            }
    
            var tr = document.createElement("tr");
            total_price = total_price.toFixed(2);
            tr.innerHTML = `<td></td><td>Total:</td><td>$ ${total_price}</td><td></td>`;
            cartTable.appendChild(tr);
            

        } else {
            M.toast({html: 'Could not refresh cart'});
        }
    }
    request.send();
}

function addToCart(item) {

    const request = new XMLHttpRequest();
    request.open('POST', `/api/v1/cart/`);
    request.setRequestHeader('X-CSRFToken', csrftoken);
    request.setRequestHeader('Accept', 'application/json');
    request.setRequestHeader('Content-Type', 'application/json');
    request.onload = () => {
        const response = request.responseText;
        if ( request.status == 202 ) {
            // TODO: Implement 202 status in API and to request more info i.e. toppings, maybe send options in the response?
            console.log(response);
        } else if ( request.status == 200 ) {
            console.log(response);
            M.toast({html: 'Item added to cart!'});
        } else {
            M.toast({html: 'Something went wrong..'});
            console.log(response);
        }
    }
    var customer = 1; // TODO: This needs to be somehow fixed...
    let data = JSON.stringify({'customer':customer,'item':item});
    request.send(data);

    setTimeout(function(){
        reloadCart();
    }, 200);
};

function removeFromCart(itemId) {
    
    const request = new XMLHttpRequest();
    request.open('DELETE', `/api/v1/cart/${itemId}`);
    request.setRequestHeader('X-CSRFToken', csrftoken);
    request.setRequestHeader('Accept', 'application/json');
    request.setRequestHeader('Content-Type', 'application/json');
    request.onload = () => {
        const response = request.responseText;
        if ( request.status == 200 ) {
            console.log(response);
            M.toast({html: 'Item removed from cart!'});
        } else {
            M.toast({html: 'Something went wrong..'});
        }
    }
    request.send();

    setTimeout(function(){
        reloadCart();
    }, 100);
}

// Gets an item from the cookie, e.g. the CSRF token for submitting AJAX requests
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

</script>

{% endblock %}
