{% extends "base.html" %}
{% load static %}

{% block title %}
Menu
{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static "js/eshop.js" %}"></script>
{% endblock %}

{% block body %}
<h1>Our Menu</h1>

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            {% for category, items in menu.items %}
                <li class="tab col s2"><a href="#{{ category | slugify }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% for category, items in menu.items %}
        <div id="{{ category | slugify }}" class="col s12">
            <table class="table striped">
                {% for item in items  %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.size.name}}</td>
                        <td>${{item.price}}</td>
                        <td><button class="to-cart material-icons" style="display:contents; cursor: pointer; width: 1em;" data-productId="{{item.id}}">add_box</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}

</div>

<h1>Cart</h1>
<ul id="cart">
</ul>

<table id="cart-table" class="table">
</table>

<!-- Modal Structure -->
<div id="toppingsModal" class="modal" style="max-width: 35em;">
    <div class="modal-content">
        <h4>Choose your toppings!</h4>
        <p>Allowed toppings: <span id="toppingCount">X</span<p>
        <form id="toppings-form">
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" id="toppingsAdd" data-productid="" class="modal-close waves-effect waves-green btn">Add</a>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
var modals = {};
document.addEventListener('DOMContentLoaded', (event) => {

    reloadCart();

    let addToCartButtons = document.getElementsByClassName('to-cart');
    for ( let button of addToCartButtons ) { 
        button.onclick = function() {

            id = button.dataset['productid']
            addToCart(id);

        };
    }

    var elem = document.getElementById('toppingsModal');
    modals['toppings'] = M.Modal.init(elem);

    var toppingsAdd = document.getElementById('toppingsAdd');
    toppingsAdd.onclick = function() {
        id = toppingsAdd.dataset['productid']
        toppings = getSelectedToppings();
        console.log(toppings);
        addToCart(id, toppings);
    }
});
</script>

{% endblock %}
