<html>
    <head>

        {# Load the tag library #}
        {% load bootstrap4 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        <title>
          Pizzeria | {% block title %}{% endblock %}
        </title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Pizzeria</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if request.resolver_match.url_name == "menu" %}active{% endif %}">
              <a class="nav-link" href="{% url 'eshop:menu' %}">Menu</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == "cart" %}active{% endif %}">
              <a class="nav-link" href="{% url 'eshop:cart' %}">My Order</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item {% if request.resolver_match.url_name == "user" %}active{% endif %}">
              <a class="nav-link" href="{% url 'users:user' %}">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item {% if request.resolver_match.url_name == "register" %}active{% endif %}">
              <a class="nav-link" href="{% url 'users:register' %}">Register</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == "login" %}active{% endif %}">
              <a class="nav-link" href="{% url 'users:user' %}">Login</a>
            </li>
            {% endif %}
          </ul>
          <form class="form-inline my-2 my-lg-0">

            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
